<!-- Created By CodingLab - www.codinglabweb.com -->
<div class="container">
    <div class="wrapper">
        <div class="title"><span>Login Form</span></div>
        <form action="/login" method="post" role="form" enctype="application/x-www-form-urlencoded"> 
            <div class="row">
                <i class="fas fa-user"></i>
                <input type="text" name="userName" id="userName" placeholder="Email or Phone" required>
            </div>
            <div class="row">
                <i class="fas fa-lock"></i>
                <input type="password" name="pswd" id="pswd" placeholder="Password" required>
            </div>
            <div class="pass"><a href="#">Forgot password?</a></div>
            <div class="row button">
                <input type="submit" value="Login">
            </div>
            <div class="signup-link">Not a member? <a href="/signUp">Signup now</a></div>
        </form>
    </div>
</div>